
body {
  /* background: #023020; */
  background: rgb(210,38,38);
  background: linear-gradient(0deg, rgba(210,38,38,1) 21%, rgba(219,83,83,1) 39%, rgba(219,114,83,1) 59%, rgba(219,208,83,1) 78%);
  margin: 0;
  padding: 0;
  font-family: 'Mukta Vaani', sans-serif;
}



.box-shadow {
  border: 1px solid black;
  box-shadow: 3px 3px 2px 1px black;
}

.title-word {
  color: 	#F0FFFF;
  font-size: 300%;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 1px 1px 2px #E5E4E2;
  cursor: default;
  transition: .2s;
}

.title-word1:hover {
  text-shadow: 1px 1px 2px #F0FFFF, 0 0 1em #F0FFFF, 0 0 0.2em #F0FFFF;
}

.title-word2 {
  font-family: 'Cabin Sketch', cursive;
  /* text-shadow: 1px 1px 4px #6495ED, 0 0 1em #6495ED, 0 0 0.2em #6495ED; */

  color: #6495ED;
}

.title-word2:hover {
  text-shadow: 1px 1px 2px #6495ED, 0 0 1em #6495ED, 0 0 0.2em #6495ED;
}

.title-word3 {
  font-family: 'Cabin Sketch', cursive;
  color: #0F52BA;
  /* text-shadow: 1px 1px 2px #0F52BA, 0 0 1em #0F52BA, 0 0 0.2em #0F52BA; */

}

.title-word3:hover {
  text-shadow: 1px 1px 2px #0F52BA, 0 0 1em #0F52BA, 0 0 0.2em #0F52BA;

}
/* 
.title-word1{
  --color-1: #CC7722;
  --color-2: #808000;
  --color-3: #913831;
}

.title-word2{
  --color-1: #CCCCFF;
  --color-2: #0818A8;
  --color-3: #6495ED;
}

.title-word3{
  --color-1: #CCCCFF;
  --color-2: #0818A8;
  --color-3: #6495ED;
}

.title-word4{
  --color-1: #CCCCFF;
  --color-2: #0818A8;
  --color-3: #6495ED;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
} */

.onlynav{
    text-align: center;
}

section{
    display:flex;
    justify-content: center;
}
.description-container , .description-p{
    display: flex;
    text-align: center;
    padding:30px;
    justify-content:center;
    background-color:white;
    width: 57.7%;
    margin-top: -6px;
    margin-bottom:6px;
    opacity: 80%;
}

video{
  width: 62%;
  height: auto;
}

.main-card-div{
 margin: 1.1em;
 width: 29.5%;
 
}

.uk-search {
    background-color:white;
}

.meal-container {
  margin: auto;
}

.meal-list {
  text-align: center;
  margin: 1em;
}

.meal-anchor{
  box-shadow: 0px 0px 10px 2px #9FE2BF;
  background-color: #9FE2BF;
  border: 4px solid #52BE80;
  border-radius: 7px;
  width: 175px;
  height: 30px;
  align-content: center;
  color:#36454F;
  transition: border-color .7s, background-color .7s;
  overflow-wrap: break-word;
}

.meal-anchor:hover{
  text-decoration: none;
  box-shadow: 0px 0px 10px 2px #52BE80;
  border-color: #9FE2BF;
  background-color: #52BE80;
  color: black;
  
}

.new-ul {
  padding: 0;
  list-style-type: none;
  text-align: left;
  margin: 2px;
}

.label-p{
  font-size: 150%;
  font-family: 'Cabin Sketch', cursive;
}
.img {
  margin: auto;
}

.cocktail-img{
  height: 175px;
  width: 175px;
}


.button-search{
  display:flex;
  justify-content:center;
}
.search-bar{
display: flex;
justify-content: center;
flex-wrap: nowrap;
align-items: center;
}

label{
  padding:30px;
}


@media (max-width: 1000px) {
  .uk-card-body {
    display: flow-root;
    padding: 30px 0px;
    
}
}

