.onlynav{
    text-align: center;
}

section{
    display:flex;
    justify-content: center;
}
.description-container {
    display: flex;
    text-align: center;
    padding:30px;
    justify-content:center;
    background-color:lightgray;
    width: 945px;
    margin-top: 25px;
    opacity: 80%;
}